.vlc section {
	margin: auto 120px;
}

.vlc{
    height: 1200px;
}

.phone .vlc .page-section {
	margin: auto 24px;
}

.phone .vlc .page-header .titlearea {
	-ms-grid-column: 1;
	margin-top: 37px;
	margin-left: 24px;
	font-size: 28pt;
	width: calc(100vw - 20px);
}

.phone .vlc .back-button {
	display: none;
}

.vlc .page-section{
    overflow-y:scroll;
    height: 1200px;
}

.vlc .page-section .volume-controls{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 40px;
}

.vlc .page-section .play-controls{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.vlc .page-section .pause-controls{
    width: 90%;
    margin: 0 auto;
}

    .vlc .page-section .pause-controls img:first-of-type {
        margin-left: 15%;
    }

    .vlc .page-section .pause-controls img:last-of-type {
        margin-right: 15%;
    }

/*.fragment {
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 128px 1fr;
	display: -ms-grid;
	height: 100%;
	width: 100%;
}

	.fragment section[role=main] {
		-ms-grid-row: 2;
		height: 100%;
	}*/
