#foo {
            width: 100%;
            height: 100%;
            -ms-touch-action: none; /* Disable touch behaviors, like pan and zoom */
            -ms-user-select: none;
        }
        /* style the canvas element with a black border. */
        * {
            margin: 0;
            padding: 0;
        }

        /*body {
            font: 71%/1.5 Verdana, Sans-Serif;
            background: #eee;
            -ms-user-select: none;
        }*/

        #container {
            margin: 10% auto;
            width: 90%;
        }

        #write {
            width: 90%;
            height: 20%;
            font: 1em/1.5 Verdana, Sans-Serif;
            background: #fff;
            border: 1px solid #f9f9f9;
        }

        #keyboard {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            #keyboard li {
                float: left;
                margin: 0 0.25% 0.25% 0;
                width: 5%;
                height: 5%;
                line-height: 300%;
                text-align: center;
                background: #fff;
                border: 1px solid #f9f9f9;
            }

        .capslock, .tab, .left-shift {
            clear: left;
        }

        #keyboard .tab, #keyboard .delete {
            width: 7%;
        }

        #keyboard .capslock {
            width: 8%;
        }

        #keyboard .return {
            width: 8%;
        }

        #keyboard .left-shift {
            width: 10%;
        }

        #keyboard .right-shift {
            width: 10%;
        }

        .lastitem {
            margin-right: 0;
        }

        .uppercase {
            text-transform: uppercase;
        }

        #keyboard .space {
            clear: left;
            width: 80%;
        }

        .on {
            display: none;
        }

        #keyboard li:hover {
            position: relative;
            top: 1px;
            left: 1px;
            border-color: #e5e5e5;
            cursor: pointer;
        }

.keyboard section {
	margin: auto 120px;
}

.phone .keyboard .page-section {
	margin: auto 24px;
}

.phone .keyboard .page-header .titlearea {
	-ms-grid-column: 1;
	margin-top: 37px;
	margin-left: 24px;
	font-size: 28pt;
	width: calc(100vw - 20px);
}

.phone .keyboard .back-button {
	display: none;
}

.fragment {
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 128px 1fr;
	display: -ms-grid;
	height: 100%;
	width: 100%;
}

	.fragment section[role=main] {
		-ms-grid-row: 2;
		height: 100%;
	}


